

section.portada-modelo .bottom-portada-modelo{
  background-image:url('../../images/detalle-modelo/curvas_vintage.svg');
}

section.portada-modelo .box-dispositivos img{
  max-width: 100%;
  height: auto;
}

section.portada-modelo::before{
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(158,175,166,0.95) 0%, rgba(0,0,0,0) 45%);
  background: -webkit-linear-gradient(180deg, rgba(158,175,166,0.95) 0%, rgba(0,0,0,0) 45%);
  background: linear-gradient(180deg, rgba(158,175,166,0.95) 0%, rgba(0,0,0,0) 45%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#020024",GradientType=1);
}


section.portada-modelo::after{
  background:url(../../images/detalle-modelo/trama_vintage.svg) repeat;
  background-size: 70%;
  background-color: #DFEAE5;
}
